.link {
    color: #51936b;
    font-size: 24px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 15px;
}

.box {
    display: flex;
    gap: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: relative;
}

.logoHeader {
    cursor: pointer;
    max-height: 100px;
}

.secondaryBtn {
    cursor: pointer;
    padding: 10px 16px;
    color: #8ABE9F;
    background: #EDECEC;
    border-radius: 10px;
    font-family: 'Scada';
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    border: none;
    max-height: 40px;
    margin-top: 5px;
}

.secondaryTitle {
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(92, 92, 92, 0.6);
    margin-top: 25px;
}

.mainBtn {
    cursor: pointer;
    margin-top: 35px;
    background: #F6E7BA;
    border-radius: 20px;
    padding: 12px 32px;
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #757876;
    border: none;
}

.box {
    text-align: center;
}

.mailLogo {
    width: 30%;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EDECEC;
}

.btn {
    background-color: #a1d4b57e;
    border: none;
    font-family: 'Scada';
    font-style: normal;
    font-size: 16px;
    color: rgba(92, 92, 92, 0.805);
}

.userMenu {
    background-color: #a1d4b57e;
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 8px;
    justify-content: center;
}

@media (max-width: 800px) {
    .link {
        font-size: 18px;
    }

    .nav {
        gap: 15px;
    }

    .logoHeader {
        max-height: 50px;
    }

    .secondaryBtn {
        padding: 0px 16px;
        font-size: 12px;
    }
}