.btn {
    margin-top: 10px;
    background: #EDD587;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.58);
    font-family: 'Scada';
    font-style: normal;
    font-size: 1.5rem;
    padding: 12px 24px;
    border: none;
    font-weight: bold;
    width: 420px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.secondaryTitle {
    margin-top: 50px;
    color: #4d4d4d;
    text-align: center;
    margin-bottom: 35px;
}

.text {
    text-align: center;
    color: #4d4d4d;
    margin-top: 20px;
}

.textSignUp {
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    color: rgba(119, 161, 136, 0.845);
    text-decoration: underline;
}

.input {
    width: 420px;
    height: 54px;
    padding: 12px 24px;
    font-family: 'Scada';
    font-style: normal;
    font-size: 1, 5rem;
    color: rgba(73, 70, 70, 0.556);
    border: 1px solid rgba(138, 190, 159, 0.77);
    border-radius: 15px;
    outline: none;
}