.cardVariantDefault {
	background-color: rgba(162, 205, 179, 0.241);
	border-radius: 10px;
	padding: 1.5rem;
}

.section {
	display: flex;
	flex-direction: column;

}

.sectionFormContener {
	display: flex;
	padding-bottom: 4px;
	gap: 5px;
}

.sectionForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem 0 1.5rem;
}

.sectionFormTitle {
	font-weight: 600;
	font-size: 0.875rem;
	letter-spacing: 0;
	color: rgba(92, 92, 92, 0.6);
	text-align: left;
}

.asterisk {
	font-size: 0.875rem;
	color: #fe2247;
}

.sectionTitle {
	color: #4a4a4a;
	font-size: 1.25rem;
	padding: 0 1.5rem;
}

.sectionInput {
	background-color: rgba(162, 205, 179, 0.241);
	border: 1px solid rgba(100, 144, 117, 0.903);
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-weight: 600;
	outline: none;
	cursor: text;
	max-width: 420px;
}

.sectionInput:hover {
	border: 2px solid #557086;
}

.sectionFooter {
	display: flex;
	padding: 1rem 1.5rem;
	justify-content: flex-end;
	border-top: 1px solid #2f4553;
	margin-top: 1rem;
}


.btn {
	background: #EDD587;
	border-radius: 15px;
	color: rgba(0, 0, 0, 0.58);
	font-family: 'Scada';
	font-style: normal;
	font-size: 18px;
	padding: 12px 24px;
	border: none;
	font-weight: bold;
}


.inputError {
	font-family: proxima-nova, sans-serif;
	padding: 0.5rem 0 0.25rem;
	color: #fe2247;
	font-size: 0.85rem;
	display: flex;
	align-items: center;
}

.errorIcon {
	width: 16px;
	height: 16px;
}

.error {
	font-family: proxima-nova, sans-serif;
	margin-left: 0.5rem;
}