* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	padding: 0 64px;
	background-image: url(./assets/SartPage.png);
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	cursor: pointer;
}

@media (max-width: 1200px) {
	html {
		background-image: none;
	}
}

@media (max-width: 800px) {
	html {
		padding: 0 35px;
	}
}

@media (max-width: 630px) {
	html {
		padding: 0 16px;
	}
}
